/* ===== COMMON STYLES { TAGS } ===== */

address {
	font-style: normal;
}

body {
	font-family: 'Montserrat', 'Manrope', sans-serif;
	color: #1b1d1b;
	background-color: #f7fbfb;
}

button {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 400;
}

html {
	scroll-behavior: smooth;
}

img {
	display: block;
	border: none;
	box-shadow: none;
	outline: none;
}

ul,
ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

/* ===== COMMON STYLES { CLASSES } ===== */

.container {
	padding: 0 32px;
}

.section {
	padding-top: 26px;
	padding-bottom: 26px;
}

.list {
	list-style-type: none;
}

.link {
	text-decoration: none;
	color: #f7fbfb;
}

.section-title {
	font-size: 32px;
	line-height: 1.219;
	text-align: center;
	margin-bottom: 28px;
	color: #1b1d1b;
}

/* ===== GLOBAL STYLES ===== */
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.no-scroll {
	overflow: hidden;
	height: 100vh;
}

/* !========== MOBILE ==========! */
/* Layout: width: 375px(content-311px); height: 788px; */

@media screen and (min-width: 375px) {
	.container {
		width: 100%; /* Забезпечує адаптивність */
		max-width: 311px; /* Не дозволяє ширині перевищувати 311px */
		margin-left: auto;
		margin-right: auto;
		overflow: hidden; /* Запобігає виходу контенту за межі */
	}
}

/* ===== MOBILE-HEADER STYLES ===== */
.main-header-container {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 311px;
	margin-top: 20px;
}

.logotype {
	display: inline-block;
	line-height: 0;
}

.main-navigation {
	display: none;
}

.mobile-open-btn {
	line-height: 0;
}

/* ===== MOBILE-SECTION HERO STYLES ===== */
.sec-hero {
	width: 100%;
	height: 788px;
	padding-bottom: 26px;
	background-image: url('../images/hero/hero-mobile.jpg');
	background-position: top;
	background-repeat: no-repeat;
	background-size: contain;
}

@media screen and (min-resolution: 192dpi) and (min-width: 1440px),
	screen and (min-resolution: 2ddpx) and (min-width: 1440px),
	screen and (min-device-pixel-ratio: 2) and (min-width: 1440px) {
	.sec-hero {
		background-image: url('../images/RETINA/hero/hero@2x-desk.jpg');
		background-position: top;
		background-repeat: no-repeat;
		background-size: contain;
	}
}

@media screen and (min-resolution: 288dpi) and (min-width: 1440px),
	screen and (min-resolution: 3dppx) and (min-width: 1440px),
	screen and (min-device-pixel-ratio: 3) and (min-width: 1440px) {
	.sec-hero {
		background-image: url('../images/RETINA/hero/hero@3x-desk.jpg');
		background-position: top;
		background-repeat: no-repeat;
		background-size: contain;
	}
}

.hero-title {
	margin-bottom: 60px;
	padding-top: 188px;
	font-size: 40px;
	line-height: 1.225;
	text-align: center;
	text-transform: uppercase;
	color: #f7fbfb;
}

.hero-description {
	margin-bottom: 88px;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.25;
	text-align: center;
	color: #f7fbfb;
}

.hero-btn {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	width: 285px;
	height: 52px;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	color: #f7fbfb;
	background: #5b86a1;
}

.hero-btn:hover,
.hero-btn:focus {
	transition: 250ms linear;
	background-color: #1b1d1b;
	border: solid 1px #5b86a1;
	outline-color: #5b86a1;
}

.hero-soc-net {
	display: none;
}

/* ===== MOBILE-SECTION ABOUT US STYLES ===== */

.about-us-description {
	font-size: 16px;
	line-height: 1.204;
	color: #202321;
}

.first {
	margin-bottom: 20px;
}

/* ===== MOBILE-MENU STYLES ===== */
/* Layout: width: 233px; height: 787; */

.mobile-menu {
	/* position: fixed; */
	top: 0;
	left: 0;
	z-index: 999999999;
	width: 233px;
	height: 100vh;
	transform: translateX(-100%);
	transition: transform 250ms linear;
	background-color: rgba(32, 35, 33, 0.7);
}

.mobile-menu.is-open {
	transform: translateX(0%);
}

.mobile-menu-container {
	position: relative;
}

.mobile-menu-close-btn {
	position: absolute;
	top: 20px;
	right: 32px;
	line-height: 0;
	stroke: #f7fbfb;
}

.mobile-menu-logotype {
	margin-top: 20px;
	margin-bottom: 72px;
}

.mobile-menu-main-navigation {
	display: block;
	margin-bottom: 64px;
}

.menu-item {
	font-size: 28px;
	line-height: 1.2145;
	text-align: start;
	color: #f7fbfb;
}

.menu-item:not(:last-child) {
	margin-bottom: 30px;
}

.mobile-menu-soc-net {
	display: flex;
	flex-direction: column;
	align-items: start;
	row-gap: 32px;
	line-height: 0;
}

.hero-soc-net-link {
	display: block;
	fill: #f7fbfb;
}

.hero-soc-net-link:hover,
.hero-soc-net-link:focus {
	/* transform: scale(1.1); */
	transition: 250ms linear;
	fill: #5b86a1;
}

/* !========== TABLET ==========! */
/* Layout: width: 768px(content-728px); height: 818px; */

@media screen and (min-width: 768px) {
	/* ===== COMMON STYLES { CLASSES } ===== */

	.container {
		width: 728px;
		padding: 0 20px;
	}

	.section {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.section-title {
		font-size: 52px;
		line-height: 1.2116;
		margin-bottom: 40px;
	}

	/* ===== TABLET-HEADER STYLES ===== */
	.main-header-container {
		max-width: 728px;
		margin-top: 24px;
	}

	.logotype-icon {
		width: 60px;
		height: 60px;
	}

	/* ===== TABLET-SECTION HERO STYLES ===== */
	.sec-hero {
		height: 818px;
		padding-bottom: 40px;
		background-image: url('../images/hero/hero-tablet.jpg');
	}

	@media screen and (min-resolution: 192dpi) and (min-width: 1440px),
		screen and (min-resolution: 2ddpx) and (min-width: 1440px),
		screen and (min-device-pixel-ratio: 2) and (min-width: 1440px) {
		.sec-hero {
			background-image: url('../images/RETINA/hero/hero-tablet@2x.jpg');
			background-position: top;
			background-repeat: no-repeat;
			background-size: contain;
		}
	}

	@media screen and (min-resolution: 288dpi) and (min-width: 1440px),
		screen and (min-resolution: 3dppx) and (min-width: 1440px),
		screen and (min-device-pixel-ratio: 3) and (min-width: 1440px) {
		.sec-hero {
			background-image: url('../images/RETINA/hero/hero-tablet@3x.jpg');
			background-position: top;
			background-repeat: no-repeat;
			background-size: contain;
		}
	}

	.hero-title {
		margin-bottom: 40px;
		padding-top: 180px;
		font-size: 68px;
		line-height: 1.2208;
	}

	.hero-description {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 60px;
		width: 470px;
		height: 48px;
	}

	.hero-btn {
		width: 394px;
		height: 56px;
		font-size: 20px;
	}

	/* ===== TABLET-SECTION ABOUT US STYLES ===== */

	.about-us-description {
		font-size: 20px;
		line-height: 1.1336;
		color: #202321;
	}
}
